---

---

@import "../_sass/settings";

/*////////////////////////////////// General /////////////////////////////////*/
body {
  min-width: 400px;
  font-family: $sans-font;
  font-size: 18px;
  color: #111 !important;
}

a {
  color: #080076;
}

a:hover {
  text-decoration: none;
  color: #125454;
}

div #license {
  position: absolute;
  bottom: 20px;
  margin-left: 50%;
  height: 15px;
}

#license {
  height: 15px;
}

/*////////////////////////////////// NavBar //////////////////////////////////*/
a.navbar-brand {
  font-variant: small-caps;
  color: #0d0c0c;
}

.navbar {
  background-color: transparent;
  border: 0;
  max-width: 1370px;
  margin-left: auto;
  margin-right: auto;
  font-family: $serif-font;
  font-weight: bold;
}

#navbar a {
  text-transform: uppercase;
  color: #0d0c0c;
}

#navbar>li>a>i {
  font-size: 18px;
}

/*///////////////////////////////// Title ////////////////////////////////*/
#title::after {
  -webkit-animation: cycle 7s infinite; /* Safari 4+ */
  -moz-animation: cycle 7s infinite; /* Fx 5+ */
  -o-animation: cycle 7s infinite; /* Opera 12+ */
  animation: cycle 7s infinite; /* IE 10+, Fx 29+ */
  content: "";
}

@keyframes cycle {
  0%   {opacity:0; content: "Theoretical";}
  7%  {opacity:1; content: "Theoretical";}
  26%  {opacity:1; content: "Theoretical";}
  33%  {opacity:0; content: "Theoretical";}
  34%  {opacity:0; content: "Network";}
  40%  {opacity:1; content: "Network";}
  59%  {opacity:1; content: "Network";}
  66%  {opacity:0; content: "Network";}
  67%  {opacity:0; content: "Disease";}
  74%  {opacity:1; content: "Disease";}
  93%  {opacity:1; content: "Disease";}
  100% {opacity:0; content: "Disease";}
}

@-o-keyframes cycle {
  0%   {opacity:0; content: "Theoretical";}
  7%  {opacity:1; content: "Theoretical";}
  26%  {opacity:1; content: "Theoretical";}
  33%  {opacity:0; content: "Theoretical";}
  34%  {opacity:0; content: "Network";}
  40%  {opacity:1; content: "Network";}
  59%  {opacity:1; content: "Network";}
  66%  {opacity:0; content: "Network";}
  67%  {opacity:0; content: "Disease";}
  74%  {opacity:1; content: "Disease";}
  93%  {opacity:1; content: "Disease";}
  100% {opacity:0; content: "Disease";}
}

@-moz-keyframes cycle {
  0%   {opacity:0; content: "Theoretical";}
  7%  {opacity:1; content: "Theoretical";}
  26%  {opacity:1; content: "Theoretical";}
  33%  {opacity:0; content: "Theoretical";}
  34%  {opacity:0; content: "Network";}
  40%  {opacity:1; content: "Network";}
  59%  {opacity:1; content: "Network";}
  66%  {opacity:0; content: "Network";}
  67%  {opacity:0; content: "Disease";}
  74%  {opacity:1; content: "Disease";}
  93%  {opacity:1; content: "Disease";}
  100% {opacity:0; content: "Disease";}
}

@-webkit-keyframes cycle {
  0%   {opacity:0; content: "Theoretical";}
  7%  {opacity:1; content: "Theoretical";}
  26%  {opacity:1; content: "Theoretical";}
  33%  {opacity:0; content: "Theoretical";}
  34%  {opacity:0; content: "Network";}
  40%  {opacity:1; content: "Network";}
  59%  {opacity:1; content: "Network";}
  66%  {opacity:0; content: "Network";}
  67%  {opacity:0; content: "Disease";}
  74%  {opacity:1; content: "Disease";}
  93%  {opacity:1; content: "Disease";}
  100% {opacity:0; content: "Disease";}
}

.jumbotron .container {
  max-width: 985px;
  position: relative;
  top: -130px;
  background: rgba(255,255,255,0.85);
}

.jumbotron h1 {
  color: #0d0c0c;
  font-size: min(max(2.5rem, 10vw), 56px);
  font-family: $serif-font;
  font-weight: bold;
}

.jumbotron p {
  font-family: $serif-font;
  font-size: min(max(1.5rem, 5vw), 36px);
  color: #0d0c0c;
}

/*///////////////////////////////// Jumbotron ////////////////////////////////*/

.jumbotron {
  background: url('../Images/MatBanner.png') center center no-repeat;
  height: 260px;
  margin-top: -30px;
  padding-left: 20vw;
  margin-left: -20vw;
  padding-right: 20vw;
  margin-right: -20vw;
}

.jumbotron .overlay-top {
  height: 75px;
  position: relative;
  top: -48px;
  padding-left: 20vw;
  margin-left: -20vw;
  padding-right: 20vw;
  margin-right: -20vw;

  background: rgba(255,255,255,0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
  background: -webkit-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
  background: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background: -ms-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
  background: -o-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
  background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255,255,255,1)', endColorstr='rgba(255,255,255,0)');
}

.jumbotron .overlay-bottom {
  height: 75px;
  position: relative;
  top: 62px;
  padding-left: 20vw;
  margin-left: -20vw;
  padding-right: 20vw;
  margin-right: -20vw;

  background: rgba(255,255,255,0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,1)));
  background: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
  background: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
  background: -ms-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
  background: -o-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
  background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255,255,255,0)', endColorstr='rgba(255,255,255,1)');
}

@media screen and (max-width: 768px) {
  .jumbotron .overlay-top {
    height: 75px;
    position: relative;
    top: -30px;
    padding-left: 20vw;
    margin-left: -20vw;
    padding-right: 20vw;
    margin-right: -20vw;

    background: rgba(255,255,255,0);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
    background: -webkit-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
    background: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    background: -ms-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
    background: -o-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
    background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255,255,255,1)', endColorstr='rgba(255,255,255,0)');
  }

  .jumbotron .overlay-bottom {
    height: 75px;
    position: relative;
    top: 80px;
    padding-left: 20vw;
    margin-left: -20vw;
    padding-right: 20vw;
    margin-right: -20vw;

    background: rgba(255,255,255,0);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,1)));
    background: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
    background: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
    background: -ms-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
    background: -o-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255,255,255,0)', endColorstr='rgba(255,255,255,1)');
  }
}

/*///////////////////////////////// Tabs Pane ////////////////////////////////*/
.nav-tabs li a {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.tabs {
  margin: auto;
  width: 90%;
  margin-top: -40px;
  max-width: 1370px;
}

/*///////////////////////////////// About Me /////////////////////////////////*/
#MyPic {
  // width: 100%;
  // max-height: 450px;
  // max-width: 338px;
  padding-top:1.5rem;
}

/*/////////////////////////// Project Descriptions ///////////////////////////*/
.projects h3 {
  font-family: $sc_font;
}

.project-image {
  margin-top: 10px;
}

/*.projects .row {
    display: -webkit-flex; /* Safari */
/*    -webkit-align-items: center; /* Safari 7.0+ */
/*    display: flex;
    align-items: center;
}*/

/*/////////////////////////////// Bibliography ///////////////////////////////*/
.biblinks .btn {
  color: black;
  font-size: 14px;
  padding: 1px;
  width: 110px;
  border-radius: 15px 1px 15px 1px;
  font-weight: bold;
}

.btn-openaccess {
  background-color: #1FBF8B; /* green-ish */
}

.btn-journal {
  background-color: #CF304D; /* red-ish */
}

.btn-mycopy {
  background-color: #5894C2; /* blue-ish */
}

.btn-preprint {
  background-color: #A460D8; /* purple-ish */
}

.biblinks p {
  margin: 1px auto 1px 0px;
  padding: 0px;
}

@media only screen and (max-width: 768px) {
  .biblinks p {
    display: inline;
  }
}

.publication {
  padding-bottom: 0.25em;
  padding-top: 0.25em;
}

.publication:first-of-type {
  margin-top: 1.4rem;
}

.publication:hover {
  background-color: #F5F5F5;
  border-radius: 15px 1px 15px 1px;
}

.bibinfo {
  padding-left: 2em;
  text-indent: -2em;
}

.pubnumber {
  color: #757575;
  font-weight: bold;
  font-family: $serif-font;
  font-size: 20px;
  float: left;
  width: 2em;
  margin-left: 10px;
}

.pubyear {
  padding-left: 0.25em;
}

.pi {
  font-weight: bold;
}

// .row.publication:hover .pubnumber {
//   visibility: hidden;
// }

/*/////////////////////////////////// Blog ///////////////////////////////////*/
.post-title {
  font-family: $serif-font;
}

.post-details {
  font-weight: bold;
}

.post-button {
  font-family: $sc-font;
  color: black;
  border-width: 1px;
  font-size: 20px;
  padding: 5px 20px;
  border-radius: 15px 1px 15px 1px;
  background-color: #1FBF8B; /* green-ish */
}

.post-button a {
  color: black;
  font-weight: bold;
}

.presentation-title {
  font-family: $serif-font;
  font-size: 1.25rem;
}

.presentation-button {
  display: block;
  margin: 15px auto 0 auto;
  font-family: $sc-font;
  color: black;
  padding: 5px 20px;
  border-width: 1px;
  font-size: 20px;
  border-radius: 15px 1px 15px 1px;
  background-color: #5894C2; /* blue-ish */
  text-align: center;
  line-height: 100%;
  max-width: 250px;
}

@media only screen and (min-width: 768px) {
  .presentation-button {
    width: 200px;
  }
}

.presentation-button a {
  color: black;
  font-weight: bold;
}

label {
  font-weight: normal;
  color:  #a00000;
}
