
/*////////////////////////////// Background //////////////////////////////////*/
.reveal {
  background-color: rgba(255,255,255,0.7);
}

/*/////////////////////////////////// Font ///////////////////////////////////*/
.reveal {
  font-family: "Alegreya", "Palatino Linotype", "Book Antiqua", "Palatino", "FreeSerif", serif;
  font-size: 4vh;
}

.reveal h1,
.reveal p {
  font-family: "Alegreya", "Palatino Linotype", "Book Antiqua", "Palatino", "FreeSerif", serif;
  text-transform: none;
}

.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "Alegreya SC", "Palatino Linotype", "Book Antiqua", "Palatino", "FreeSerif", serif;
  text-transform: none;
}

img {
  max-width:100vw;
  max-height:100vh;
}

/*////////////////////////////////// Header/Footer ///////////////////////////////////*/
#citation {
  bottom:50px;
  right:50px;
  position:absolute;
  font-size:70%;
}

#citation.citwnotes {
  right:40%;
}

#header {
  top:0px;
  left:0px;
  position:absolute;
  font-size:90%;
}

/*/////////////////////////////////// Slide Notes ////////////////////////////////////*/
.reveal aside.hidden {
  display:none !important;
}

.fullwidth {
  width:100%;
  text-align:center;
}

.fullwidth.tomiddle {
  text-align:center;
}
.fullwidth.tomiddle.wnotes {
  text-align:right;
}

img.plain {
  background-color:transparent !important;
}
.wnotes {
  width:60%;
  height:90%;
  position:absolute;
  left:0;
  background-color:#00000033;
}

section {
  height:100vh;
  width:100vw;
  background-color:#00000022;
}

.reveal aside.notes {
  display:block;
  position:absolute;
  text-align:left;
  color:#000;
  background-color:#ffffffcc;
  right:2%;
  top: 5%;
  width:35%;
  height:90%;
  font-size:80%;
  line-height: 120%;
  overflow:auto;
}

span.key {
  border: 2px solid black;
  border-radius: 10px;
  text-transform: capitalize;
  font-family: "Alegreya SC";
  font-weight: bold;
  padding: 0px 10px 0px 10px;
  margin: 0 10px;
  font-size: 75%;
}

#ns {
  font-family: "Alegreya SC";
  font-weight: bold;
}

table td {
  border-bottom: 0 !important;
}

.reveal .slides section .fragment.highlight-yellow,
.reveal .slides section .fragment.highlight-current-yellow,
.reveal .slides section .fragment.highlight-purple,
.reveal .slides section .fragment.highlight-current-purple,
.reveal .slides section .fragment.unhighlight,
.reveal .slides section .fragment.emph-bold {
  opacity: 1;
  visibility: visible; }

.reveal .slides section .fragment.highlight-red.visible {
  color: #b65067; }

.reveal .slides section .fragment.highlight-green.visible {
  color: #6c8c58; }

.reveal .slides section .fragment.highlight-blue.visible {
  color: #747aa8; }

.reveal .slides section .fragment.highlight-purple.visible {
  color: #8e4fc4; }

.reveal .slides section .fragment.highlight-yellow.visible {
  color: #b58e33; }

.reveal .slides section .fragment.unhighlight.visible {
  color: #000000; }

.reveal .slides section .fragment.highlight-current-red.current-fragment {
  color: #b65067; }

.reveal .slides section .fragment.highlight-current-green.current-fragment {
  color: #6c8c58; }

.reveal .slides section .fragment.highlight-current-blue.current-fragment {
  color: #747aa8; }

.reveal .slides section .fragment.highlight-current-purple.current-fragment {
  color: #8e4fc4; }

.reveal .slides section .fragment.highlight-current-yellow.current-fragment {
  color: #b58e33; }

.reveal .slides section .fragment.emph-bold.current-fragment {
  font-weight: bold;
  visibility: visible; }
