p {
    font-family: 'Alegreya Sans', sans-serif;
}

a {
    color: #080076;
}

a:hover {
  text-decoration: none;
  color: #125454;
}

.nav .container {
    min-width: 900px;
    width: 75%;
    margin-top: 5px;
    /*border-bottom: 2px solid rgba(0,0,0,.3);*/
}

.nav li {
  display: inline-block;
  color: #0d0c0c;
  font-size: 16px;
  padding-top: 10px;
  font-weight: bold;
  padding-left: 7px;
  padding-right: 7px;
  font-variant: small-caps;
}

.nav li a {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav .fa {
  color: black;
}

.nav .fa:hover {
  color: #125454;
}

.jumbotron {
/*  background: url('Images/j-modaxis.png') center center;*/
  background-repeat: no-repeat;
/*  background-color: #000000;*/
  background-size: contain;
  overflow: hidden;
}

.jumbotron h1 {
  color: #0d0c0c;
  font-size: 48px;  
  font-family: 'Alegreya', serif;
  font-weight: bold;
}

.jumbotron p {
  font-family: 'Alegreya', serif;
  font-size: 24px;
  color: #0d0c0c;
}

/*.jumbotron .container {
  position: relative;
  top:100px;
  background-color: rgba(255,255,255,0.5);
}*/

.tabs {
  margin: auto;
  min-width: 800px;
  width: 75%;
}

.projects h3 {
  font-family: 'Alegreya Sans SC', sans-serif;
}

/*.projects {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.projects h2 {
    color: #393c3d;
    font-size: 24px;
}

.projects p {
    font-size: 15px;
    margin-bottom: 13px;
}*/

/* Bibliography */
.biblinks .label {
  color: #0d0c0c;
  font-size: 14px;
  padding: 2px 5px;
}

.biblinks a {
  padding: 0px 20px;
}

.publication {
  height: 75px;
  padding-left: 2em;
  text-indent: -2em;
}

.pubnumber {
  color: #757575;
  font-weight: bold;
  font-family: 'Alegreya', serif;
  font-size: 20px;
  float: left;
  width: 2em;
}

.pubyear {
  padding-left: 1em;
}

.pi {
  font-weight: bold;
}

