.nav li {
  display: inline-block;
  color: #0f0e0e;
  font-size: 14px;
  padding: 5px 5px;
  font-weight: bold;
  font-variant: small-caps;
}

.nav a {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav .fa {
  color: black;
  padding-left: 10px;
}

.jumbotron {
  background:url('Images/j-modaxis.png') center center;
  height: 400px;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

.jumbotron h1 {
  color: #0f0e0e;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 24px;
  color: #0f0e0e;
}

.jumbotron .container {
  position: relative;
  top:100px;
  background-color: rgba(255,255,255,0.3);
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.projects {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.projects h2 {
    color: #393c3d;
    font-size: 24px;
}

.projects p {
    font-size: 15px;
    margin-bottom: 13px;
}
