/* General */
p {
    font-family: 'Alegreya Sans', sans-serif;
}

a {
    color: #080076;
}

a:hover {
  text-decoration: none;
  color: #125454;
}

/* NavBar */
.nav .container {
    min-width: 900px;
    width: 75%;
    margin-top: 5px;
    /*border-bottom: 2px solid rgba(0,0,0,.3);*/
}

.nav li {
  display: inline-block;
  color: #0d0c0c;
  font-size: 16px;
  padding-top: 10px;
  font-weight: bold;
  padding-left: 7px;
  padding-right: 7px;
  font-variant: small-caps;
}

.nav li a {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav .fa {
  color: black;
  font-size: 16px;
}

.nav .fa:hover {
  color: #125454;
}

/* Jumbotron */
.jumbotron {
  background: url('Images/MatBanner.png') center center no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,1))),
              url('Images/MatBanner.png') center center no-repeat;
  background: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)),
              url('Images/MatBanner.png') center center no-repeat;
  background: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1)),
              url('Images/MatBanner.png') center center no-repeat;
  background: -ms-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)),
              url('Images/MatBanner.png') center center no-repeat;
  background: -o-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)),
              url('Images/MatBanner.png') center center no-repeat;
  background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)),
              url('Images/MatBanner.png') center center no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255,255,255,0)', endColorstr='rgba(255,255,255,1)'), url('Images/MatBanner.png') center center no-repeat;
  zoom: 1;
  height: 260px;
}

/*.jumbotron {
  background: url('Images/MatBanner.png') center center no-repeat;
  height: 260px;
}*/

.jumbotron h1 {
  color: #0d0c0c;
  font-size: 48px;  
  font-family: 'Alegreya', serif;
  font-weight: bold;
}

.jumbotron p {
  font-family: 'Alegreya', serif;
  font-size: 24px;
  color: #0d0c0c;
}

.jumbotron .container {
  background: rgba(255,255,255,0.8);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
  background: -webkit-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
  background: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background: -ms-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
  background: -o-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
  background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255,255,255,1)', endColorstr='rgba(255,255,255,0)');
  zoom: 1;
  max-width: 900px;
}

.tabs {
  margin: auto;
  min-width: 800px;
  width: 75%;
  margin-top: -60px;
}

.tab-content {
    font-size: 16px;
}

#MyPic {
    height: 400px;
    float: right;
}

.projects h3 {
  font-family: 'Alegreya Sans SC', sans-serif;
}

/* Project Descriptions */
/*.projects {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.projects h2 {
    color: #393c3d;
    font-size: 24px;
}

.projects p {
    font-size: 15px;
    margin-bottom: 13px;
}*/

.projects .thumbnail {
    margin: auto;
    max-width: 400px;
}

/*.projects .description {
    padding-top: 10px;
    display: none;
    max-width: 1000px;
}*/

/* Bibliography */
.biblinks .label {
  color: #0d0c0c;
  font-size: 14px;
  padding: 2px 5px;
}

.biblinks p {
  margin: 3px;
}

.publication {
  height: 60px;
  padding-left: 2em;
  text-indent: -2em;
}

.pubnumber {
  color: #757575;
  font-weight: bold;
  font-family: 'Alegreya', serif;
  font-size: 20px;
  float: left;
  width: 2em;
}

.pubyear {
  padding-left: 1em;
}

.pi {
  font-weight: bold;
}

