<div class="row publication">
  <div class="col-xs-12 col-sm-10 bibinfo">
    <span class="pubnumber">1</span>
    <span class="pubtitle">Lessons from movement ecology for the return to work: modeling contacts and the spread of COVID-19</span><br>
    <span class="author">A.K. Shaw</span>, <span class="author">L.A. White</span>, <span class="author pi">M. Michalska-Smith</span>, <span class="author">E.T. Borer</span>, <span class="author">M.E. Craft</span>, <span class="author">E.W. Seabloom</span>, <span class="author">E. Snell-Rood</span>, <span class="author">M. Travisano</span>;
    <span class="pubyear">2021</span>
  </div>
  <div class="col-xs-12 col-sm-1 text-right biblinks">
    <p><a target="_blank"  href="\url{https://doi.org/10.1371/journal.pone.0242955" title="PLOS ONE">
      <button type="button" class="btn btn-journal">Journal Version</button>
    </a></p>
    <p><a target="_blank"  href="pdfs/returntowork.pdf">
      <button type="button" class="btn btn-mycopy">Full-Text PDF</button>
    </a></p>
  </div>
</div>

<div class="row publication">
  <div class="col-xs-12 col-sm-10 bibinfo">
    <span class="pubnumber">2</span>
    <span class="pubtitle">Multi-strain disease dynamics on metapopulation networks</span><br>
    <span class="author pi">M.J. Michalska-Smith</span>, <span class="author">K.L. VanderWaal</span>, <span class="author">M. Torremorell</span>, <span class="author">C.A. Corzo</span>, <span class="author">M.E. Craft</span>;
    <span class="pubyear">2020</span>
  </div>
  <div class="col-xs-12 col-sm-1 text-right biblinks">
    <p><a target="_blank"  href="https://www.authorea.com/339827" title="<u>AU</u>THOREA preprint no. 339827">
      <button type="button" class="btn btn-preprint">Citable Preprint</button>
    </a></p>
  </div>
</div>

<div class="row publication">
  <div class="col-xs-12 col-sm-10 bibinfo">
    <span class="pubnumber">3</span>
    <span class="pubtitle">Broadening Participation in Scientific Conferences during the Era of Social Distancing</span><br>
    <span class="author">M.R. Fulcher</span>, <span class="author">M.L. Bolton</span>, <span class="author">M.D. Millican</span>, <span class="author pi">M.J. Michalska-Smith</span>, <span class="author">...</span>, <span class="author">L.L. Kinkel</span>;
    <span class="pubyear">2020</span>
  </div>
  <div class="col-xs-12 col-sm-1 text-right biblinks">
    <p><a target="_blank"  href="\url{https://doi.org/10.1016/j.tim.2020.08.004" title="Trends in Microbiology">
      <button type="button" class="btn btn-journal">Journal Version</button>
    </a></p>
    <p><a target="_blank"  href="pdfs/virtualcommunities.pdf">
      <button type="button" class="btn btn-mycopy">Full-Text PDF</button>
    </a></p>
  </div>
</div>

<div class="row publication">
  <div class="col-xs-12 col-sm-10 bibinfo">
    <span class="pubnumber">4</span>
    <span class="pubtitle">Telling ecological networks apart by their structure: A computational challenge</span><br>
    <span class="author pi">M.J. Michalska-Smith</span>, <span class="author">S. Allesina</span>;
    <span class="pubyear">2019</span>
  </div>
  <div class="col-xs-12 col-sm-1 text-right biblinks">
    <p><a target="_blank"  href="https://doi.org/10.1371/journal.pcbi.1007076" title="PLOS Computational Biology">
      <button type="button" class="btn btn-openaccess">Open Access</button>
    </a></p>
  </div>
</div>

<div class="row publication">
  <div class="col-xs-12 col-sm-10 bibinfo">
    <span class="pubnumber">5</span>
    <span class="pubtitle">Manipulating Wild and Tamed Phytobiomes: Challenges and Opportunities</span><br>
    <span class="author">T.H. Bell</span>, <span class="author">...</span>, <span class="author pi">M. Michalska-Smith</span>, <span class="author">...</span>, <span class="author">E. Yergeau</span>;
    <span class="pubyear">2019</span>
  </div>
  <div class="col-xs-12 col-sm-1 text-right biblinks">
    <p><a target="_blank"  href="https://doi.org/10.1094/PBIOMES-01-19-0006-W" title="Phytobiomes Journal">
      <button type="button" class="btn btn-openaccess">Open Access</button>
    </a></p>
  </div>
</div>

<div class="row publication">
  <div class="col-xs-12 col-sm-10 bibinfo">
    <span class="pubnumber">6</span>
    <span class="pubtitle">Understanding the role of parasites in food webs using the group model</span><br>
    <span class="author pi">M.J. Michalska-Smith</span><sup title="These authors contributed equally to this publication">&#42;</sup>, <span class="author">E.L. Sander</span><sup title="These authors contributed equally to this publication">&#42;</sup>, <span class="author">M. Pascual</span>, <span class="author">S. Allesina</span>;
    <span class="pubyear">2018</span>
  </div>
  <div class="col-xs-12 col-sm-1 text-right biblinks">
    <p><a target="_blank"  href="https://doi.org/10.1111/1365-2656.12782" title="Journal of Animal Ecology">
      <button type="button" class="btn btn-journal">Journal Version</button>
    </a></p>
    <p><a target="_blank"  href="pdfs/parasitegroups.pdf">
      <button type="button" class="btn btn-mycopy">Full-Text PDF</button>
    </a></p>
  </div>
</div>

<div class="row publication">
  <div class="col-xs-12 col-sm-10 bibinfo">
    <span class="pubnumber">7</span>
    <span class="pubtitle">Self-regulation and the stability of large ecological networks</span><br>
    <span class="author">G. Barab&aacute;s</span>, <span class="author pi">M.J. Michalska-Smith</span>, <span class="author">S. Allesina</span>;
    <span class="pubyear">2017</span>
  </div>
  <div class="col-xs-12 col-sm-1 text-right biblinks">
    <p><a target="_blank"  href="https://doi.org/10.1038/s41559-017-0357-6" title="Nature Ecology \& Evolution">
      <button type="button" class="btn btn-journal">Journal Version</button>
    </a></p>
    <p><a target="_blank"  href="pdfs/diagonal.pdf">
      <button type="button" class="btn btn-mycopy">Full-Text PDF</button>
    </a></p>
  </div>
</div>

<div class="row publication">
  <div class="col-xs-12 col-sm-10 bibinfo">
    <span class="pubnumber">8</span>
    <span class="pubtitle">Higher-order interactions stabilize dynamics in competitive network models</span><br>
    <span class="author">J. Grilli</span>, <span class="author">G. Barab&aacute;s</span>, <span class="author pi">M.J. Michalska-Smith</span>, <span class="author">S. Allesina</span>;
    <span class="pubyear">2017</span>
  </div>
  <div class="col-xs-12 col-sm-1 text-right biblinks">
    <p><a target="_blank"  href="https://doi.org/10.1038/nature23273" title="Nature">
      <button type="button" class="btn btn-journal">Journal Version</button>
    </a></p>
    <p><a target="_blank"  href="pdfs/higherorder.pdf">
      <button type="button" class="btn btn-mycopy">Full-Text PDF</button>
    </a></p>
  </div>
</div>

<div class="row publication">
  <div class="col-xs-12 col-sm-10 bibinfo">
    <span class="pubnumber">9</span>
    <span class="pubtitle">And, not or: Quality, quantity in scientific publishing</span><br>
    <span class="author pi">M.J. Michalska-Smith</span>, <span class="author">S. Allesina</span>;
    <span class="pubyear">2017</span>
  </div>
  <div class="col-xs-12 col-sm-1 text-right biblinks">
    <p><a target="_blank"  href="https://doi.org/10.1371/journal.pone.0178074" title="PLOS ONE">
      <button type="button" class="btn btn-openaccess">Open Access</button>
    </a></p>
  </div>
</div>

<div class="row publication">
  <div class="col-xs-12 col-sm-10 bibinfo">
    <span class="pubnumber">10</span>
    <span class="pubtitle">The Effect of Intra- and Interspecific Competition on Coexistence in Multispecies Communities</span><br>
    <span class="author">G. Barab&aacute;s</span><sup title="These authors contributed equally to this publication">&#42;</sup>, <span class="author pi">M.J. Michalska-Smith</span><sup title="These authors contributed equally to this publication">&#42;</sup>, <span class="author">S. Allesina</span>;
    <span class="pubyear">2016</span>
  </div>
  <div class="col-xs-12 col-sm-1 text-right biblinks">
    <p><a target="_blank"  href="https://doi.org/10.1086/686901" title="The American Naturalist">
      <button type="button" class="btn btn-journal">Journal Version</button>
    </a></p>
    <p><a target="_blank"  href="pdfs/intrainter.pdf">
      <button type="button" class="btn btn-mycopy">Full-Text PDF</button>
    </a></p>
  </div>
</div>

<div class="row publication">
  <div class="col-xs-12 col-sm-10 bibinfo">
    <span class="pubnumber">11</span>
    <span class="pubtitle">Stability and feedback levels in food web models</span><br>
    <span class="author pi">M.J. Smith</span>, <span class="author">E. Sander</span>, <span class="author">G. Barab&aacute;s</span>, <span class="author">S. Allesina</span>;
    <span class="pubyear">2015</span>
  </div>
  <div class="col-xs-12 col-sm-1 text-right biblinks">
    <p><a target="_blank"  href="http://dx.doi.org/10.1111/ele.12416" title="Ecology Letters">
      <button type="button" class="btn btn-journal">Journal Version</button>
    </a></p>
    <p><a target="_blank"  href="pdfs/stabilityfeedback.pdf">
      <button type="button" class="btn btn-mycopy">Full-Text PDF</button>
    </a></p>
  </div>
</div>

<div class="row publication">
  <div class="col-xs-12 col-sm-10 bibinfo">
    <span class="pubnumber">12</span>
    <span class="pubtitle">The Scientific Impact of Nations: Journal Placement and Citation Performance</span><br>
    <span class="author pi">M.J. Smith</span>, <span class="author">C. Weinberger</span>, <span class="author">E.M. Bruna</span>, <span class="author">S. Allesina</span>;
    <span class="pubyear">2014</span>
  </div>
  <div class="col-xs-12 col-sm-1 text-right biblinks">
    <p><a target="_blank"  href="https://doi.org/10.1371%2Fjournal.pone.0109195" title="PLOS ONE">
      <button type="button" class="btn btn-openaccess">Open Access</button>
    </a></p>
  </div>
</div>

<div class="row publication">
  <div class="col-xs-12 col-sm-10 bibinfo">
    <span class="pubnumber">13</span>
    <span class="pubtitle">Selecting food web models using normalized maximum likelihood</span><br>
    <span class="author">P.P.A. Staniczenko</span>, <span class="author pi">M.J. Smith</span>, <span class="author">S. Allesina</span>;
    <span class="pubyear">2014</span>
  </div>
  <div class="col-xs-12 col-sm-1 text-right biblinks">
    <p><a target="_blank"  href="https://doi.org/10.1111/2041-210X.12192" title="Methods in Ecology and Evolution">
      <button type="button" class="btn btn-journal">Journal Version</button>
    </a></p>
    <p><a target="_blank"  href="pdfs/goodbadugly.pdf">
      <button type="button" class="btn btn-mycopy">Full-Text PDF</button>
    </a></p>
  </div>
</div>

<div class="row publication">
  <div class="col-xs-12 col-sm-10 bibinfo">
    <span class="pubnumber">14</span>
    <span class="pubtitle">Whirling disease dynamics: An analysis of intervention strategies</span><br>
    <span class="author">K.G. Turner</span>, <span class="author pi">M.J. Smith</span>, <span class="author">B.J. Ridenhour</span>;
    <span class="pubyear">2014</span>
  </div>
  <div class="col-xs-12 col-sm-1 text-right biblinks">
    <p><a target="_blank"  href="https://doi.org/10.1016/j.prevetmed.2013.12.008" title="Preventive Veterinary Medicine">
      <button type="button" class="btn btn-journal">Journal Version</button>
    </a></p>
  </div>
</div>

<div class="row publication">
  <div class="col-xs-12 col-sm-10 bibinfo">
    <span class="pubnumber">15</span>
    <span class="pubtitle">Superelliptical laws for complex networks</span><br>
    <span class="author">S. Allesina</span>, <span class="author">E. Sander</span>, <span class="author pi">M.J. Smith</span>, <span class="author">S. Tang</span>;
    <span class="pubyear">2013</span>
  </div>
  <div class="col-xs-12 col-sm-1 text-right biblinks">
    <p><a target="_blank"  href="http://arxiv.org/abs/1309.7275" title="arXiv preprint:1309.7275">
      <button type="button" class="btn btn-preprint">Citable Preprint</button>
    </a></p>
  </div>
</div>