<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Matthew J Michalska-Smith</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#109;&#106;&#115;&#109;&#105;&#116;&#104;&#064;&#117;&#099;&#104;&#105;&#099;&#097;&#103;&#111;&#046;&#101;&#100;&#117;"><i class="far fa-envelope" title="Email Me!"></i></a></li>
        <!-- <li><a href="http://www.bitbucket.org/mjsmith037"><i class="fa fa-bitbucket" title="Bitbucket"></i></a></li> -->
        <li><a href="http://www.github.com/mjsmith037"><i class="fab fa-github" title="GitHub"></i></a></li>
        <li><a href="/feed.xml"><i class="fas fa-rss" title="Set up an RSS feed"></i></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/Documents/CV.pdf" title="Curriculum Vitae">CV</a></li>
        <li><a href="https://scholar.google.com/citations?user=mVBo9jwAAAAJ&hl=en">Google Scholar</a></li>
        <li><a href="https://plpa.cfans.umn.edu/people/faculty/linda-kinkel">Kinkel Lab</a></li>
      </ul>
    </div>
  </div>
</nav>
