/* This file contains all the constants for colors and font styles */
$serif-font: "Alegreya", serif;
$sans-font:  "Alegreya Sans", sans-serif;
$sc-font:    "Alegreya SC", serif;
$code-font: "Inconsolata", monospace;
$contrast-color: #a00000;
$border-color: #222222
