<!DOCTYPE html>
<html lang="en">
{% include head.html%}
<body>
  <div id="wrapper">
    {% include header.html%}
    <div class="jumbotron">
      <div class="container-fluid overlay-top"></div>
      <div class="container-fluid overlay-bottom">
        <div class="container">
          <h1>Theoretical Ecology</h1>
          <p>Using networks, matrices, and eigenvalues to investigate ecological structure and stability</p>
        </div>
      </div>
    </div>

    <div class="tabs">
      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#about">About Me</a></li>
        <li><a href="#interests">Interests</a></li>
        <li><a href="#publications">Publications</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#talks">Talks</a></li>
      </ul>

      <div class="tab-content">
        <div id="about" class="tab-pane fade in active">
          <div class="row">
            <div class="col-xs-12 col-sm-8">
              <p style="padding-top:1.5rem;">
                I am a recently graduated Ph.D. student from the department of
                Ecology &amp; Evolution at the University of Chicago. Working in
                <a href="http://allesinalab.uchicago.edu">Stefano Allesina's
                lab</a>, I was exposed to the powerful perspective of
                seeing the complexity of nature as a network of connected
                pieces. I have been particularly captivated by the interaction
                between the dynamics of ecological systems (i.e. the stability
                and feasibility of equilibria and the role of transient
                dynamics) and the structures (both local and global) found in
                network representations of those systems.
              </p>
              <p>
                Though I have worked primarily with food-webs, many of my
                projects exploit the extreme generality of mathematical models,
                and have applied network- and matrix-based methods to a host of
                systems. I am driven by the development of computational and
                statistical methods to enhance our ability to detect patterns in
                ecological data.
              </p>
              <p>
                I am now located in Minneapolis, MN, working as a postdoc with
                <a href="https://www.vetmed.umn.edu/bio/college-of-veterinary-medicine/meggan-craft">Meggan
                Craft</a> on multi-strain and endemic disease dynamics in the
                American swine industry and <a href="https://plpa.cfans.umn.edu/people/faculty/linda-kinkel">Linda
                Kinkel</a> looking at the relationship betwen the structures of
                niche-overlap networks and networks of direct competition in
                plant microbiomes.
              </p>
            </div>
            <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
              <img src="Images/me.jpg" id="MyPic"/>
            </div>
          </div>
        </div>
        <div id="interests" class="tab-pane fade">
          <div class="projects">
            {% include projects.html %}
          </div>
        </div>
        <div id="publications" class="tab-pane fade">
          {%  include bib.html %}
        </div>
        <div id="blog" class="tab-pane fade">
          <div class="full-width">
            <article>
              <ul class="content-listing">
                {% for post in site.posts %}
                  {% if post.categories contains "slides" %}
                  {% else %}
                    <li class="listing">
                      <a href="{{ post.url | prepend: site.baseurl }}">
                        <h3 class="contrast post-title">{{ post.title }}</h3>
                      </a>
                      <br><span class="smaller">{{ post.date | date: "%B %-d, %Y" }}</span><br>
                      <div>{{ post.excerpt }}</div>
                      <span class="post-button">
                        <a href="{{ post.url | prepend: site.baseurl }}">Read More</a>
                      </span>
                      <hr class="slender">
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </article>
          </div>
        </div>
        <div id="talks" class="tab-pane fade">
          <div class="full-width">
            <ul class="content-listing">
              {% for post in site.categories.slides %}
                <li class="listing">
                  <div class="row">
                    <div class="col-sm-10 col-xs-12">
                      <a target="_blank" href="{{ post.url | prepend: site.baseurl }}">
                        <h3 class="contrast post-title">{{ post.title }}</h3>
                      </a>
                      <br><h3 class="presentation-title">{{ post.subtitle }}</h3>
                      <br><span class="smaller">{{ post.date | date: "%B %-d, %Y" }}</span>
                    </div>
                    <div class="col-sm-1 col-xs-12">
                      <span class="presentation-button">
                        <a target="_blank" href="{{ post.url | prepend: site.baseurl }}">View Presentation</a>
                      </span>
                    </div>
                  </div>
                  <hr class="slender">
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
<!--    <div>
      <a id="license" rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a>
    </div>-->
  </div>
</body>
</html>
