<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="">
  <meta name="author" content="Matthew J Michalska-Smith">
  <link rel="icon" href="">

  <title>M J Michalska-Smith</title>

  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,700,700i|Alegreya:400,700|Inconsolata&subset=latin-ext" rel="stylesheet">
  <script src="https://use.fontawesome.com/ca6fc79211.js"></script>

  <!-- Bootstrap  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="main.css">

  <!-- <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" /> -->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://michalska-smith.com">Matthew J Michalska-Smith</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#109;&#106;&#115;&#109;&#105;&#116;&#104;&#064;&#117;&#099;&#104;&#105;&#099;&#097;&#103;&#111;&#046;&#101;&#100;&#117;"><i class="fa fa-envelope" title="Email Me!"></i></a></li>
            <!-- <li><a href="http://www.bitbucket.org/mjsmith037"><i class="fa fa-bitbucket" title="Bitbucket"></i></a></li> -->
            <li><a href="http://www.github.com/mjsmith037"><i class="fa fa-github" title="GitHub"></i></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://michalska-smith.com/Documents/CV.pdf" title="Curriculum Vitae">CV</a></li>
            <li><a href="https://scholar.google.com/citations?user=mVBo9jwAAAAJ&hl=en">Google Scholar</a></li>
            <li><a href="http://allesinalab.uchicago.edu/">Allesina <span style="font-family:Alegreya;text-transform: lowercase;">&lambda;</span>ab</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="jumbotron">
      <div class="container-fluid overlay-top"></div>
      <div class="container-fluid overlay-bottom">
        <div class="container">
          <h1>Theoretical Ecology</h1>
          <p>Using networks, matrices, and eigenvalues to investigate ecological structure and stability</p>
        </div>
      </div>
    </div>
    <div style="display:flex; flex-direction:column; margin:auto; width:50%;">
      <h1> Welcome! </h1>
      <h2> You've reached the old location for the webpage of Matthew J. Michalska-Smith. Thanks for your interest! You can find the full site now at <a href="http://michalska-smith.com">Michalska-Smith.com</a>.</h2>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="app.js"></script>
</body>
</html>
